body {
  color: red;
}

div#ticker {
  background-color: #ddd;
  border-top-left-radius: 20px;	
	position:fixed;
	right: 0px;
	bottom: 0px;
	width: 305px;
  height:100px;
	text-align:center;
	padding-top:20px;
}